.header {
  grid-area: h;
  background-color: rgb(114, 32, 134);
  border: 5px solid white;
  color: whitesmoke;
  padding: 10px;
}

.loginBlock {
  float: right;
  margin: 10px;
  margin-right: 50px;
}
