.App {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  color: grey;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  height: 100vh;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(199, 243, 206);
  border: 5px solid white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a.selected {
  font-weight: bold;
  color: rgb(37, 37, 37);
}

.head {
  grid-area: h;
  background-color: blue;
  border: 5px solid white;
}

.navbar {
  grid-area: n;
  background-color: green;
  border: 5px solid white;
}
