/* .userPhoto {
  height: 100px;
}

.selectedPage {
  font-weight: bold;
}

.page {
  cursor: pointer;
  display: inline;
} */

/* .root {
  margin-top: 20px;
} */

.container {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}
